/*
body { 
   background-image: url("unt.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size:   100pt;
    background-position-x: 50pt 
 }
*/

/* .background {
    background:url ('https://identityguide.unt.edu/sites/default/files/est_1890_unt_university_of_north_texas_mcconnel_green.png');
    position: relative;
    width: 100%;
    height: 100%;
}

.layer {
    background-color: rbga(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */


table{

    border-collapse: collapse;
    }

    table th{
        
        text-align: left;
        background-color: #00853e;
        color: #FFF;
        border: 1px solid #e3e3e3; 
    
        padding: 20px 40px 10px 20px;
    
    
    }
    
    table td {
        text-align:left;
        border: 1px solid #e3e3e3; 
        padding: 6px 30px 6px 10px;
    }
    
    table tr:nth-child(odd) td{
    
        background-color: #e7edf0;
    }


    button{
        padding: 10px 10px;
    
    }
