

        
        <div id= "header" style = 'padding-top: 30px'>
            <div class='pad'>
                <img src="https://identityguide.unt.edu/sites/default/files/unt-1890-banner_diving_eagle.png" class="img-fluid" alt="Responsive image">
            </div>
            <div style="text-align:center" style='float:style'>
                <h1 style='text-align:center'>CSE Help Lab Queue </h1>
            </div>
        </div>
        
        
        <div style="text-align:center">
            <p></p>
            <app-navbar>
            </app-navbar>
        </div>